
.intro{

	margin-top: 50px;
}

.invisible { display: none;}

.header_bar {
	background-color: darkslategray;
	color: lightgray;
	padding: 1%;
	border-bottom: 1px solid #c6c6c6;
	font-family: cursive;
	width: 100%;
	margin: -1%;
}

.vis_container{
	position: relative;
	margin-bottom: 2%;	
}

.vis_canvas{

	margin-top: 6%;
	margin-left: 2%;
	position: absolute;
	cursor: crosshair;
}

.control_panel{

	display: inline-block;
	height: 450px;
	width: 150px;
	margin-left: 2%;	
	background: rgb(124, 155, 115);
	vertical-align: top;
	margin-top: 6%;
	padding: 0.5%;
}
